* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    color: #333B41;
    overflow-x: hidden;
}


/* ============
Global Styles
==============*/

img {
    max-width: 100%;
    display: block;
}

ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

ul a {
    text-decoration: none;
    border: none;
    outline: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    transition: all.2s ease-in-out;
}

.container {
    width: 100%;
    max-width: 116rem;
    margin: 0 auto;
}

/* ============
Buttons
==============*/

.btn {
    font-weight: 400;
    line-height: 22.4px;
    text-align: center;
    text-transform: uppercase;
    width: 29.8rem;
    height: 5.4rem;
    background-color: #FE9013;
    background-image: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    color: #fff;
    border-radius: 2.5rem;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn:hover,
.btn:focus {
    background: #E47209;
}

.btn:active {
    background: #4B9200;
}

.btn-link {
    color: #fff;
}

/* ============
Typography
==============*/

h2 {
    font-size: 4.8rem;
    line-height: 120%;
}

h3 {
    font-size: 3.6rem;
    line-height: 130%;
}

h2,
h3 {
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
}

p {
    font-size: 1.6rem;
    line-height: 130%;
}

/* ============
Header
==============*/

.header {
    width: 100%;
    height: 8rem;
    padding: 1.4rem 0;
    background-color: #000;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ============
Logo
==============*/

.logo-container {
    width: 8.2rem;
    height: 5.2rem;
    margin-right: 6.3rem;
    border: 1px solid #fff;
    border-radius: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.logo-text {
    font-size: 1.9rem;
    font-weight: 400;
    color: #fff;
    line-height: 22.82px;
    text-align: center;
}

.logo-element {
    position: absolute;
    left: 10px;
    bottom: 6.5px;
}

.logo-container:hover,
.logo-container:focus {
    border-color: #F9804B;
}

/* ============
Navbar
==============*/

.navigation-container {
    display: flex;
    align-items: center;
}

.nav-link {
    font-weight: 500;
    line-height: 22.4px;
    color: #fff;
    margin-right: 5.8rem;
}

.current {
    color: #F9804B;
}

.design-author a {
    font-weight: 500;
    line-height: 140%;
    color: #fff;
}

.nav-link:hover,
.nav-link:focus,
.design-author a:hover,
.design-author a:focus {
    color: #F9804B;
}

/* ============
Animal Online Block
==============*/

.animal-online {
    height: 70rem;
    background: #333B41 url("../../assets/images/giant-panda.png") no-repeat;
    background-size: cover;
    background-position: top -15.5rem;
}

.animal-online-container {
    display: flex;
    justify-content: flex-end;
}

.animal-online-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.animal-online-title {
    font-weight: 700;
    font-size: 10.65rem;
    color: #fff;
    text-transform: uppercase;
    width: 8ch;
    line-height: 79.87px;
    text-align: center;
    z-index: 1;
    position: absolute;
    left: calc(50% - 495px/2 + 334px);
    top: 165px;
}

.accent-text {
    color: #FFEE2E;
}

.ellipse {
    position: absolute;
    top: 9.2rem;
    left: calc(50% - 465px/2 + 239.5px);
}

.btn-watch {
    position: absolute;
    top: 627px;
    left: calc(50% - 298px/2 + 332px);
}

/* ============
Backstage Block
==============*/

.backstage {
    position: relative;
    overflow: hidden;
}

.backstage::before {
    content: "";
    position: absolute;
    background-image: url("../../assets/images/flower.png");
    background-repeat: no-repeat;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 293px;
    height: 605px;
    top: 15px;
    right: -30px;
}

.backstage-container {
    display: flex;
    padding: 14rem 0 3rem 0;
}

.backstage-title {
    margin-bottom: 1.8rem;
    letter-spacing: -0.995px;
}

.backstage-text {
    line-height: 22px;
}

.backstage-subtitle {
    font-size: 2.4rem;
    line-height: 28.8px;
    margin-top: 5.5rem;
    margin-bottom: 3.3rem;
}

.backstage-img {
    backdrop-filter: blur(2px);
    width: 607px;
    height: 405px;
    margin-right: 8.8rem;
}

/* ============
Pets Gallery Block
==============*/

.pets-gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 14.9rem;
    padding-bottom: 10rem;
    position: relative;
}

.pets-cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 8rem;
}

.pet-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 2rem 2.8rem;
}

.pet-card {
    border: 1px solid #FA6F32;
    border-radius: .5rem;
    transition: 0.7s linear;
}

.pet-card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .2rem .5rem .8rem 1.5rem;
}

.pet-card-title {
    font-weight: 500;
    line-height: 140%;
    text-transform: uppercase;
    color: #000;
}

.pet-card-par {
    font-size: 1.5rem;
    font-weight: 300;
    margin-top: -2px;
}

.pet-card .pet-card-text h4,
.pet-card .pet-card-text p {
    transition: 0.7s linear;
}

.banana-bamboo-icon,
.meat-fish-icon {
    width: 48px;
    height: 48px;
    transition: 0.7s linear;
}

.banana-bamboo-icon {
    background: no-repeat center/80% url(../../assets/icons/banana-bamboo_icon.png);
}

.meat-fish-icon {
    background: no-repeat center/100% url(../../assets/icons/meat-fish_icon.png);
}

.plant {
    position: absolute;
    z-index: -1;
}

.plant-left {
    left: 70px;
    bottom: 0;
}

.plant-right {
    right: 65px;
    bottom: 0;
}

.arrows-container {
    position: absolute;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    width: calc(1160px + 170px);
    left: calc((100% - 1160px - 175px) / 2);
    top: 44%;
}

.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 62px;
    height: 62px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.arrow:hover,
.arrow:focus {
    background: #E47209;
    border: #4B9200;
}

.arrow:active {
    background: #4B9200;
    border: #4B9200;
}

/* hover effect on pet cards */

.pet-card:hover {
    transform: scale(1.05);
    border: none;
    cursor: pointer;
}

.pet-card:hover img {
    transform: scale(1.05);
    filter: brightness(0.5);
    border-radius: 5px;
    border: none;
    margin-top: 6rem;
}

.pet-card:hover .pet-card-text h4,
.pet-card:hover .pet-card-text p,
.pet-card:hover .banana-bamboo-icon,
.pet-card:hover .meat-fish-icon {
    color: #fff;
    transform: translateY(-20rem);
}

/* ============
Pick and Feed Block
==============*/

.friends {
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    opacity: 0.9;
    padding: 6.9rem 0 10rem;
}

.friends-container {
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 2rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.friends-title {
    color: #FE9013;
    text-align: center;
    margin-bottom: 3rem;
}

.friends-info {
    padding-left: 9.75rem;
}

.friends-subtitle {
    font-size: 2.4rem;
    margin-bottom: 4rem;
}

.friends-text-bold,
.friends-text-normal {
    line-height: 20.8px;
}

.friends-text-bold {
    font-weight: 500;
    margin-bottom: 1rem;
}

.friends-text-normal {
    width: 82%;
}

.friend-link {
    color: inherit;
    border-bottom: 1px solid #FE9013;
}

.friends-explanation {
    margin-top: 6rem;
    margin-bottom: 3.5rem;
    text-align: center;
}

.friends-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 19.25rem;
    margin-bottom: 2rem;
}

.friends figcaption {
    width: 16.8rem;
    padding: 2.25rem 0;
}

.figure-img {
    width: 168px;
    height: 168px;
    padding: 3rem;
    background: #fff;
    border: 1px solid #F9804B;
    border-radius: 0.5rem;
    object-fit: contain;
}

.arrow-big {
    width: 69px;
    height: 35px;
    margin-bottom: 8.8rem;
    background: no-repeat center/100% url(../../assets/icons/arrow-big.png);
}

.btn-feed {
    display: flex;
    justify-content: center;
    padding: 1.75rem 1.2rem;
    margin-top: 4rem;
}

/* ============
Testimonials Block
==============*/

.testimonials {
    padding-top: 14rem;
    padding-bottom: 18rem;
}

.testimonials-title {
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 4.8rem;
}

.testimonials-content {
    display: flex;
    gap: 3rem;
}

.testimonial-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.testimonial {
    height: 38.5rem;
    width: calc((100% / 4) - 15px);
    padding: 1.6rem 1.6rem 2.5rem;
    border-radius: 2rem;
    border-color: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    background: #F1F3F2;
    position: relative;
}

.testimonial-content::before {
    content: "";
    position: absolute;
    border-radius: 20px;
    top: -2px;
    bottom: -2px;
    right: -2px;
    left: -2px;
    background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%),
    linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    z-index: -1;
}

.user-img {
    margin-right: 1rem;
}

.user-info {
    margin-bottom: 1rem;
}

.user-name {
    color: #000;
}

.user-descr,
.user-feedback {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 18px;
}

.user-descr {
    display: flex;
    color: #BDBDBD;
    margin-right: 1.6rem;
}

.scroller {
    width: 59.9rem;
    height: 0.8rem;
    background: #F5F7F6;
    border-radius: 0.5rem;
    border-image: linear-gradient(0deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%),
                linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    margin: 2.4rem 0 3.2rem 28rem;
}

.scroller-bar {
    width: 11.59rem;
    height: 0.6rem;
    border-radius: 0.5rem;
    background: #FE9013;
    cursor: pointer;
}

.btn-testimonial .btn {
    border-radius: .5rem;
    align-self: flex-start;
}

.testimonials-decoration {
    position: absolute;
    right: 60px;
    margin-top: -10rem;
    z-index: -1;
}

/* ============
Footer
==============*/

.footer {
    background-color: #111115;
    padding-top: 3.9rem;
    padding-bottom: 5rem;
}

.footer-container {
    display: flex;
    height: 44.3rem;
    padding-bottom: 8.75rem;
}

.footer-col {
    display: flex;
    justify-content: space-between;
}

.footer-col-left {
    flex-direction: column;
    justify-content: space-between;
    margin-right: 5rem;
}

.footer-col-center {
    align-items: flex-end;
    justify-content: flex-end;
    margin-left: -2rem;
}

.footer-col-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

 .btn-donate .btn {
    border-radius: .5rem;
    margin-top: 2rem;
}

/* social media icons */

.social-icons-list {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.social-link {
    display: flex;
    align-items: center;
    color: #fff;
}

.social-link:hover,
.social-link:focus {
    color: #4B9200;
}

.circle {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background: #C4C4C4;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1.2rem;
}

.subscribe {
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 120%;
    color: #fff;
    margin-bottom: 1.4rem;
    margin-right: 1.5rem;
}

form input {
    padding: 1rem;
    width: 22.7rem;
    border-radius: 0.2rem;
    line-height: 140%;
    color: #BDBDBD;
    background-color: transparent;
    border: 1px solid #FE9013;
}

.submit-btn {
    width: 12.9rem;
    margin-left: 1rem;
    padding: 1.3rem 3.9rem;
    color: #4B9200;
    background: #F1F3F2;
    border: 1px solid #4B9200;
    border-radius: 0.5rem;
    cursor: pointer;
}

.mistake-btn {
    border: 1px solid #D31414;
    color: #D31414;
    cursor: not-allowed !important;
}

.copyright {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 13.5rem;
}
